@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 'Ubuntu', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #02020c;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    /* scroll-behavior:smooth; */

}

.loader {
    z-index: 99999;
    background-color: #00000f;
    opacity: 0.35s;
    /* visibility: 1s; */
    /* transition: 1s; */
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade {
    opacity: 0;
    visibility: hidden;
}



.loader-wrapper .packman::before {
    content: '';
    position: fixed;
    width: 50px;
    height: 25px;
    background-color: #EFF107;
    border-radius: 100px 100px 0 0;
    /* transform: translate(-50%, -50%); */
    animation: pac-top 0.5s linear infinite;
    transform-origin: center bottom;
}

.loader-wrapper .packman::after {
    content: '';
    position: fixed;
    width: 50px;
    height: 25px;
    background-color: #EFF107;
    border-radius: 0 0 100px 100px;
    /* transform: translate(-50%, 50%); */
    animation: pac-bot 0.5s linear infinite;
    transform-origin: center top;
}

@keyframes pac-top {
    0% {
        transform: translate(-50%, -50%) rotate(0)
    }

    50% {
        transform: translate(-50%, -50%) rotate(-30deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(0)
    }
}

@keyframes pac-bot {
    0% {
        transform: translate(-50%, 50%) rotate(0)
    }

    50% {
        transform: translate(-50%, 50%) rotate(30deg)
    }

    100% {
        transform: translate(-50%, 50%) rotate(0)
    }
}

.all-dots {
    /* z-index: 99999; */
    /* background-color: #02020c; */
    /* transition: opacity 0.35s, visibility 1s; */
    position: fixed;
    margin: auto;
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

.dots .dot {
    position: fixed;
    /* z-index: 99999 ; */
    /* top: 8px; */
    margin-top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.dots .dot:nth-child(1) {
    left: 52.5%;
    animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(2) {
    left: 55.5%;
    animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(3) {
    left: 58.5%;
    animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(4) {
    left: 61.5%;
    animation: dot-stage2 0.5s infinite;
}

@keyframes dot-stage1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-24px, 0);
    }
}

@keyframes dot-stage2 {
    0% {
        transform: scale(1);
    }

    5%,
    100% {
        transform: scale(0);
    }
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 150px;


}

.nav-links {
    flex: 1;
    text-align: center;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;

}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #02020c;


}

.nav-links ul li a:hover {
    color: #ffffffb2;
    transition: 0.5s;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0, 255, 0, 0.856);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    box-shadow: 0px 0px 1px 0.5px #00ff00;


}

.carousel {
    padding: 10px 40px 40px 20px;
    display: flex;
    flex-direction: row;
    /* display: flex; */
    /* align-items: center; */
    /* height: 450px; */
    /* transform: translateX(0); */
    /* transition: all 0.6s ease-in-out; */
    /* margin: 0px 0px 0px 10px; */
    /* flex-wrap: nowrap; */
    /* position:sticky; */
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* scroll-behavior:smooth; */
    scroll-snap-type: x mandatory;
}

.carousel-image {
    scroll-snap-align: center;
}



.carousel img {
    width: 92vw;
    opacity: 90%;
    object-fit: cover;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 60px 40px #010103;
    /* scroll-snap-type:proximity; */

}


.ph {
    background-color: #00000a;
    padding: 50px 40px 40px 40px;
}

.ph a{
    text-decoration: none;
    color: #fff;
}

.ph span {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;

}

.column {
    display: flex;
    flex-direction: row;
}

.ph img:hover {
    cursor: pointer;
    opacity: 50%;
    transition: 0.9s;
    /* box-shadow: 0px 0px 4px 4px #010205 ; */
}

.column-1 {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}

.img-1 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

.img-2 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

.column-2 {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}

.img-3 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;
}

.img-4 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

.column-3 {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    margin-right: 40px;
}

.img-5 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

.img-6 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

.img-7 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

.img-8 img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px 10px #010103;

}

/* popup */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.img-name {
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
}

.image-name {
    opacity: 0;
    display: none;
}

.close-btn {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff8800;
    cursor: pointer;
}

.close-btn i {
    top: 2px;
    right: 4.5px;
    position: absolute;
    color: #111;
}

.arrow-btn {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
    color: rgba(255, 255, 255, 0.4);
}

.right-arrow {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
    color: rgba(255, 255, 255, 0.4);
}

.arrow-btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.index {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}

/* popup */

.popup-int {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup-int.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup-int.active .close-btn-int,
.popup-int.active .image-name-int,
.popup-int.active .index-int,
.popup-int.active .large-image-int,
.popup-int.active .arrow-btn-int {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar-int {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.img-name-int {
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
}

.image-name-int {
    opacity: 0;
    display: none;
}

.close-btn-int {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff8800;
    cursor: pointer;
}

.close-btn-int i {
    top: 2px;
    right: 4.5px;
    position: absolute;
    color: #111;
}

.arrow-btn-int {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow-int {
    left: 10px;
    color: rgba(255, 255, 255, 0.4);
}

.right-arrow-int {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
    color: rgba(255, 255, 255, 0.4);
}

.arrow-btn-int:hover {
    background: rgba(0, 0, 0, 0.5);
}

.index-int {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image-int {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}

/* popup */

.popup-a {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup-a.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup-a.active .close-btn-a,
.popup-a.active .image-name-a,
.popup-a.active .index-a,
.popup-a.active .large-image-a,
.popup-a.active .arrow-btn-a {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar-a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.img-name-a {
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
}

.image-name-a {
    opacity: 0;
    display: none;
}

.close-btn-a {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff8800;
    cursor: pointer;
}

.close-btn-a i {
    top: 2px;
    right: 4.5px;
    position: absolute;
    color: #111;
}

.arrow-btn-a {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow-a {
    left: 10px;
    color: rgba(255, 255, 255, 0.4);
}

.right-arrow-a {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
    color: rgba(255, 255, 255, 0.4);
}

.arrow-btn-a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.index-a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image-a {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}






#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background: linear-gradient(#00ff00c9, #00ff00);
    /* Set a background color */
    color: #02020c;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    justify-content: center;
    align-items: center;
    transition-duration: .7s;
    font-size: 1.5em;
    width: 45px;
    height: 45px;
}

#myBtn:hover {
    opacity: 0.8;
    transition-duration: .5s;
    box-shadow: 0px 0px 5px 2px #00ff00;
}

#myBtn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer {
    min-height: 30vh;
    background-color: #02020c;
    padding: 60px 40px 20px 40px;
    text-align: center;
    border-top: 1px solid #0e0e294b;
}

.footer h1 {
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    color: #ffffffd7;
    font-weight: 700;
}

.footer p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

.footer-links {
    margin-bottom: 30px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.footer-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.footer-links ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-links a:hover {
    color: rgba(255, 255, 255, 0.329);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.social-container {
    display: flex;
    padding: 0px 20px 40px 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
    /* width: 35px; */
    height: 35px;
    margin: 30px;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #52382f;
}

.tooltip-container:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all 0.3s;
}

.layer span,
.text {
    color: #e6683c;
    border-color: #e6683c;
}

.icon:hover.layer span {
    box-shadow: -1px 1px 3px #e6683c;
}

.icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icon:hover .text {
    bottom: -35px;
    opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.instagramSVG {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.user {
    display: flex;
    gap: 10px;
}

.img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #e6683c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
}

.name {
    font-size: 17px;
    font-weight: 700;
    color: #dd0030;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
}

.about {
    color: #ccc;
    padding-top: 5px;
}

.wrapper {
    display: none;
}

@media(max-width: 768px) {

    .dots .dot:nth-child(1) {
        left: 55%;
        animation: dot-stage1 0.5s infinite;
    }

    .dots .dot:nth-child(2) {
        left: 59%;
        animation: dot-stage1 0.5s infinite;
    }

    .dots .dot:nth-child(3) {
        left: 63%;
        animation: dot-stage1 0.5s infinite;
    }

    .dots .dot:nth-child(4) {
        left: 67%;
        animation: dot-stage2 0.5s infinite;
    }

    .footer {
        min-height: 30vh;
        background-color: #02020c;
        padding: 60px 35px 40px 35px;
        text-align: center;
    }

    .footer h1 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 30px;
        color: #ffffffd7;
        font-weight: 700;
    }

    .footer p {
        color: rgba(255, 255, 255, 0.3);
        font-size: 10px;
    }

    .footer-links {
        display: none;
    }

    .footer-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 4px;
        position: relative;
    }

    .footer-links ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        margin: 0 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .footer-links a:hover {
        color: rgba(255, 255, 255, 0.329);
        transition: .5s;

    }

    .social {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .social div {
        padding: 15px;
    }

    .social i {
        font-size: 18px;
        color: #d3524e;
        padding: 13px;
        border: 1px solid #d3524e;
        border-radius: 50%;

    }

    .social i:hover {
        border: 1px solid #da2822;
        color: #da2822;
        box-shadow: 0px 0px 12px 2px #c73934;
        transition: .5s;
        /* background-color: #201202; */
    }

    #myBtn {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 20px;
        /* Place the button at the bottom of the page */
        right: 30px;
        /* Place the button 30px from the right */
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background: linear-gradient(#00ff00c9, #00ff00);
        /* Set a background color */
        color: #02020c;
        /* Text color */
        cursor: pointer;
        /* Add a mouse pointer on hover */
        /* Some padding */
        border-radius: 50%;
        /* Rounded corners */
        justify-content: center;
        align-items: center;
        transition-duration: .7s;
        font-size: 1.3em;
        width: 40px;
        height: 40px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .column-1 {
        display: flex;
        flex-direction: row;
        padding: 0 0%;
    }

    .column-2 {
        display: flex;
        flex-direction: row;
        padding: 0 0%;
    }

    .column-3 {
        display: flex;
        flex-direction: row;
        padding: 0 0%;
        margin-right: 0px;
    }

    .ph {
        background-color: #02020c;
        padding: 50px 30px 40px 20px;
    }


    .ph img:hover {
        cursor: pointer;
        opacity: 50%;
        transition: 0.9s;
        /* box-shadow: 0px 0px 4px 4px #010205 ; */
    }

    .img-1 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 0px 20px 0px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .img-2 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 0px 20px 15px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .img-3 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 0px 20px 0px;
        box-shadow: 0px 0px 10px 10px #010103;
    }

    .img-4 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 0px 20px 15px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .img-5 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 0px 20px 0px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .img-6 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 0px 20px 15px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .img-7 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 20px 20px 20px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .img-8 img {
        width: 100%;
        border-radius: 20px;
        margin: 20px 20px 20px 20px;
        box-shadow: 0px 0px 10px 10px #010103;

    }

    .carousel img {
        width: 90vw;
        opacity: 90%;
        object-fit: cover;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 30px #010103;
        /* scroll-snap-type:proximity; */

    }


    .carousel {
        padding: 40px 10px 20px 10px;
        display: flex;
        flex-direction: row;
        /* display: flex; */
        /* align-items: center; */
        /* height: 450px; */
        /* transform: translateX(0); */
        /* transition: all 0.6s ease-in-out; */
        /* margin: 0px 0px 0px 10px; */
        /* flex-wrap: nowrap; */
        /* position:sticky; */
        overflow-x: scroll;
        /* overflow-y: hidden; */
        /* scroll-behavior:smooth; */
        scroll-snap-type: x mandatory;
    }



}

@media (max-width: 420px) {

    .nav-links {
        display: none;
    }

    #myBtn {
        display: none;
    }

    .dots .dot:nth-child(1) {
        left: 59%;
        animation: dot-stage1 0.5s infinite;
    }

    .dots .dot:nth-child(2) {
        left: 63%;
        animation: dot-stage1 0.5s infinite;
    }

    .dots .dot:nth-child(3) {
        left: 67%;
        animation: dot-stage1 0.5s infinite;
    }

    .dots .dot:nth-child(4) {
        left: 71%;
        animation: dot-stage2 0.5s infinite;
    }

    .wrapper {
        position: fixed;
        bottom: -2%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #00ff00;
        width: 95%;
        height: 65px;
        border-radius: 50px;
        display: flex;
        z-index: 99;
    }

    .wrapper ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .wrapper ul li {
        width: 20%;
        text-align: center;
        list-style: none;
    }

    .wrapper ul li a {
        color: #02020c;
        font-size: 26px;
        position: relative;
        transition: all 0.3s ease;
    }


    .wrapper ul li .tooltip:before {
        content: "";
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 10px solid #fff;
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
}